.card {
  max-width: 413px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
  display: block;
}

.card__delete-btn {
  background-image: url(../images/delete.svg);
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/liked.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card {
    margin: 0 auto;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
