.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  background-color: transparent;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {

  .card {
    margin: 0 auto;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 200px;
  }
}