.footer {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  font-weight: 400;
  opacity: 0.7;
}

.footer__copyright {
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
}