.footer {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121B2;
  font-weight: 400;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #212121B2;
  padding: 20px 0 60px;
  text-align: center;
}