.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__is-opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background-color: #fff;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__label {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
  display: flex;
  flex-direction: column;
}

.modal__input {
  flex-basis: auto;
  margin: 8px 0 0;
  padding: 16px 0 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #21212166;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__save-btn {
  height: 52px;
  width: 156px;
  background-color: #000000;
  color: #fcf5e5;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__save-btn {
    width: 100%;
  }
}
