.modal {
  visibility: hidden;
  /* shouldnt need the above declaration with starting on opacity:0*/
  opacity: 0;
  pointer-events: none;
  transition:
    visibility 0.3s,
    opacity 0.3s ease-in;
  background-color: #00000080;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  /* shouldnt need the above declaration with opacity:1*/
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-in;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-btn_preview {
  position: absolute;
  background-image: url(../images/close-preview.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  top: 0;
  right: -52.5px;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__label {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
  display: flex;
  flex-direction: column;
}

.modal__input {
  flex-basis: auto;
  margin: 8px 0 0;
  padding: 16px 0 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #21212166;
}

.modal__input_type_error {
  border-color: #ff000099;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  visibility: hidden;
  color: #ff0000b2;
  font-size: 16px;
  margin-top: 8px;
}

.modal__error_visible {
  visibility: visible;
}

.modal__save-btn {
  height: 52px;
  width: 156px;
  background-color: #000000;
  color: #fcf5e5;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  opacity: 1;
}

.button_inactive {
  opacity: 0.5;
}

.modal__save-btn:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}

.modal__caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #212121;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  display: inline-block;
  padding: 4px 8px;
  margin-top: 8px;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

@media screen and (max-width: 320px) {
  .modal__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 627px) {
  .modal {
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal__container {
    max-width: 300px;
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_preview {
    top: -48px;
    right: 0;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__save-btn {
    width: 100%;
  }

  .modal__image {
    max-width: unset;
  }
}
