.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121b2;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  cursor: pointer;
  margin-top: auto;
  padding: 0;
  background-color: #fcf5e5;
  border: none;
  color: #212121;
  text-align: left;
  display: flex;
  width: 107px;
  height: 16px;
  gap: 8px;
  opacity: 0.7;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn-dim {
  height: 12px;
  width: 12px;
}

.profile__add-btn {
  cursor: pointer;
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 52px;
  width: 149px;
  gap: 8px;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 663px) {
  .profile {
    flex-direction: column;
    width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 0;
  }

  .profile__column {
    align-items: center;
  }

  .profile__avatar {
    margin-right: 0;
    padding-bottom: 12px;
    height: 80px;
    width: 80px;
    border-radius: 15px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .profile__edit-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
  }

  .profile__add-btn {
    margin: auto;
    height: 52px;
    width: 100%;
    padding: 18px 97.5px;
  }
}
